@{
    ViewData["Title"] = "Home Page";
}


<body>

    <main>
<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold"><a asp-area="" asp-controller="Pizza" asp-action="Index">Prova le nostre pizze!</a></h1>
        <p class="col-md-8 fs-4">Pizze cotte con forno a legna e ingredienti di qualità</p>
        <img src="~/images/istockphoto-638790274-612x612.jpg"/>
      </div>
    </div>
 

    
      
</main>

</body>





